{% extends "network/layout.html" %} {% block body %}
<script>
  function text_change(id) {
    const new_text = document.getElementById(`new_text_${id}`).value;
    const old_text = document.getElementById(`text_${id}`);
    const modal = document.getElementById(`edit_post_${id}`);

    fetch(`/edit/${id}`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{ csrf_token }}",
      },
      body: JSON.stringify({
        text: new_text,
      }),
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error("Network response was not ok");
        }
        return response.json();
      })
      .then((result) => {
        old_text.innerHTML = new_text;
        $(modal).modal("hide");
      })
      .catch((error) => {
        console.error(
          "There has been a problem with your fetch operation:",
          error
        );
      });
  }

  function like(id) {
    toggleLike(id, true);
  }

  function unlike(id) {
    toggleLike(id, false);
  }

  function toggleLike(id, isLike) {
    const like_button = document.getElementById(`like_${id}`);
    const like_number = document.getElementById(`likes_${id}`);
    let number_like = parseInt(like_number.innerHTML);

    fetch(`/like/${id}`, {
      method: "PUT",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{ csrf_token }}",
      },
      body: JSON.stringify({ like: isLike }),
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error("Network response was not ok");
        }
        return response.json();
      })
      .then((result) => {
        if (isLike) {
          like_button.classList.add("red");
          like_number.innerHTML = number_like + 1;
        } else {
          like_button.classList.remove("red");
          like_number.innerHTML = number_like - 1;
        }
      })
      .catch((error) => {
        console.error(
          "There has been a problem with your fetch operation:",
          error
        );
      });
  }
</script>

<h1>{{ profile.username }}</h1>
<div>{{ following }} Following | {{ followed|length }} Followers</div>

{% if user.is_authenticated %} {% if request.user != profile %} {% if
user_follow %}
<form action="{% url 'unfollow' %}" method="post">
  {% csrf_token %}
  <input name="unfollowed" type="hidden" value="{{ profile.id }}" />
  <input type="submit" value="Unfollow" />
</form>
{% else %}
<form action="{% url 'follow' %}" method="post">
  {% csrf_token %}
  <input name="followed" type="hidden" value="{{ profile.id }}" />
  <input type="submit" value="Follow" />
</form>
{% endif %} {% endif %} {% for post in posts %}
<div class="border container">
  <h5>
    <a href="{% url 'profile' post.user.id %}">{{ post.user.username }}</a>
  </h5>
  <p id="text_{{ post.id }}">{{ post.text }}</p>
  <p>{{ post.timestamp }}</p>

  {% if request.user == post.user %}
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#edit_post_{{ post.id }}"
  >
    Edit
  </button>

  <div
    class="modal fade"
    id="edit_post_{{ post.id }}"
    tabindex="-1"
    role="dialog"
    aria-labelledby="edit_post_{{ post.id }}_label"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Post</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <textarea
            cols="50"
            rows="10"
            id="new_text_{{ post.id }}"
            name="new_text"
          >
{{ post.text }}</textarea
          >
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            onclick="text_change({{ post.id }})"
          >
            Save changes
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  {% else %} {% if user.is_authenticated %} {% if post.id in likes %}
  <button class="red" id="like_{{ post.id }}" onclick="unlike({{ post.id }})">
    ♡
  </button>
  {% else %}
  <button id="like_{{ post.id }}" onclick="like({{ post.id }})">♡</button>
  {% endif %} {% endif %} {% endif %}
  <div id="likes_{{ post.id }}">{{ post.likes }}</div>
  <div>likes</div>
</div>
{% endfor %}

<div class="pagination">
  {% if posts.has_previous %}
  <button>
    <a href="?page={{ posts.previous_page_number }}">Previous Page</a>
  </button>
  {% endif %} {% if posts.has_next %}
  <button><a href="?page={{ posts.next_page_number }}">Next Page</a></button>
  {% endif %}
</div>
{% endblock %}
