{% extends "network/layout.html" %}
{% block body %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            if (document.querySelector('#submit_type')) {
                document.querySelector('#submit_type').addEventListener('click', () => start_message());
            }
        });

    function end_chat(id) {
        fetch(`end_chat/${id}`, {
          method: 'POST',
          headers:  {"Content-type":"application/json", "X-CSRFtoken": "{{ csrf_token }}"},
          body: JSON.stringify({
            endchat: true
          })
        })
        .then(response => response.json())
        .then(result => {
            // Print result
            console.log(result);
        });
    }


    function start_message() {
        const doctor_type = document.querySelector('#user_input').value;
        fetch('find_doctor', {
          method: 'PUT',
          headers:  {"Content-type":"application/json", "X-CSRFtoken": "{{ csrf_token }}"},
          body: JSON.stringify({
            doctor_type: doctor_type
          })
        })
        .then(response => response.json())
        .then(result => {
            // Print result
            console.log(result);

            if (result.message) {
                const error = document.querySelector('#alert_message');
                error.style.display = 'block';
                error.innerHTML = result.message;
            } else {
                document.querySelector("#form").style.display = "none";
                document.querySelector("#submit_type").style.display = "none";
                let element = document.createElement("div");
                element.innerHTML = `
                <strong><h2 id="doctor_name"><center>${result.doctor}</center></h2></strong>
                <h5 id="doctor_type"><center>${result.type}</center></h5>
                <form method="post" action="{% url 'end_chat' %}">
                    {% csrf_token %}
                    <input type="hidden" name="end_chat" value="${result.id}">
                    <center><input type="submit" value="End Chat" class="btn btn-danger"</input></center>
                </form>
                <div id="chat">
                    <div class="container text-center">
                    </div>
                </div>
                <div class="container">
                    <textarea id="new_message"></textarea>
                    <i id="send_message" onclick="send_message(${result.id})" class="icon fas fa-paper-plane"></i>
                </div>
                `;
                document.querySelector("#use_start_message").append(element);
           }
        });
    }

    function send_message(id) {
        const message = document.querySelector('#new_message').value;
        console.log(message);
        fetch(`send_message/${id}`, {
          method: 'PUT',
          headers:  {"Content-type":"application/json", "X-CSRFtoken": "{{ csrf_token }}"},
          body: JSON.stringify({
            text: message
          })
        })
        .then(response => response.json())
        .then(result => {
            // Print result
            console.log(result);
            if (result.message) {
                document.querySelector('#alert_message').innerHTML= result.message;
            } else {
                document.querySelector('#chat').innerHTML = '';
                document.querySelector('#new_message').value = '';
                result.forEach(message =>{
                   console.log(message);
                   let message_info = document.createElement('div');
                   if (message.sender == "{{ request.user }}") {
                        message_info.innerHTML = `
                        <div class="row">
                            <div class="col-sm-8"></div>
                            <div class="col-sm-4">
                            <div class="list-group-item">${message.text}</div>
                            <div> Sent by ${message.sender} at ${message.timestamp}</div>
                            </div>
                        </div>`;
                   } else {
                        message_info.innerHTML = `
                        <div class="row">
                            <div class="col-sm">
                            <div class="list-group-item">${message.text}</div>
                            <div>Sent by ${message.sender} at ${message.timestamp}</div>
                            </div>
                            <div class="col-sm"></div>
                            <div class="col-sm"></div>
                        </div>`;
                   }
                   document.querySelector('#chat').append(message_info);
                });
           }
        });
    }

    </script>

    <div id="alert_message" class="alert alert-warning" style="display:none" role="alert"></div>
    <br>
<strong><h2 class="" id="user_name"><center>Talking with... {{ doctor.user.username }}</center></h2></strong>
<div id="chat">
    {% for chat_message in chat_messages %}
        {% if chat_message.sender == request.user %}
            <div class="row">
                <div class="col-sm-8"></div>
                <div class="col-sm-4">
                    <div class="list-group-item">{{ chat_message.text }}</div>
                    <div>Sent by {{ chat_message.sender }} at {{ chat_message.timestamp }}</div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-sm">
                    <div class="list-group-item">{{ chat_message.text }}</div>
                    <div>Sent by {{ chat_message.sender }} at {{ chat_message.timestamp }}</div>
                </div>
                <div class="col-sm"></div>
                <div class="col-sm"></div>
            </div>
                {% endif %}
           {% endfor %}
        </div>
        <div class="container">
            <textarea id="new_message"></textarea>
            <i id="send_message" onclick="send_message({{ doctor.id }})" class="icon fas fa-paper-plane"></i>
        </div>
    {% endif %}
    <div id="use_start_message"></div>
{% endblock %}

