{% extends "network/layout.html" %}
{% block body %}
    {% if message %}
        <div class="alert alert-warning" role="alert">{{ message }}</div>
    {% endif %}

    <script>
    function viewing_email (convo_id) {
        document.querySelector('#show_conversation').style.display = 'block';
        document.querySelector('#list_conversation').style.display = 'none';
        fetch(`/old_message/${convo_id}`)
        .then(response => response.json())
        .then(data => {
         // Print data
            console.log(data);

            data.forEach(message => {
                console.log(message);
                const element = document.createElement('div');
                if (message.sender === "{{ request.user }}") {
                    element.innerHTML = `
                    <div class="row">
                        <div class="col-sm-8"></div>
                        <div class="col-sm-4">
                        <div class="list-group-item">${ message.text }</div>
                        <div>Sent By ${message.sender} at ${ message.timestamp }</div>
                        </div>
                    </div>`;

                } else {
                    element.innerHTML = `
                     <div class="row">
                       <div class="col-sm">
                        <div class="list-group-item">${ message.text }</div>
                        <div>Sent By ${message.sender} at ${ message.timestamp }</div>
                       </div>
                       <div class="col-sm"></div>
                       <div class="col-sm"></div>
                     </div>`;
                }
                document.querySelector('#show_conversation').append(element);
            });
         });

    }

    </script>
    {% if is_doctor.doctor_message %}
        <div id="alert_message" class="alert alert-warning" style="display:none" role="alert">{{ is_doctor.doctor_message }}</div>
    {% endif %}
    <div id="list_conversation">
        <br>
        <ul class="list-group">
        {% for post in posts %}
            <li class="list-group-item" onclick="viewing_email({{ post.id }})">
                <div style="padding:8px;">Conversation between {{  post.user.username }} and {{ post.doctor.user.username }}</div>
            </li>
            <br>
        {% endfor %}
    </div>
    {% if posts.has_previous %}
        <left><button class="btn btn-primary"><a href="?page={{ posts.previous_page_number }}">Previous Page</a></button></left>
    {% endif %}
    {% if posts.has_next %}
        <right><button class="btn btn-primary"><a href="?page={{ posts.next_page_number }}">Next Page</a></button></right>
    {% endif %}


    <div id="show_conversation">
        <br>

    </div>
{% endblock %}